@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


/* Set font and color for main text */
.main-text {
  font-family: 'Raleway', sans-serif;;
  color: #333;
}

.App-description {
  font-size: 1.4rem;
  color: black;
  margin: 20px 0;
  padding-bottom: 3rem;
  text-align: left;
}


.App-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-text {
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 10%;
  text-align: left;
  
}

.App-image-div {
  width: 50%;
  display: flex;
  justify-content: center;
}

.App-image {
  max-width:  100%;
  padding-top: 5%;
  height: auto;
}

@media (max-width: 768px) {
  .App-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .App-text, .App-image-div {
    width: 100%;
  }
}


/* Add these styles to your existing CSS */

/* Animate the app text */
.App-text {
  animation: slide-in-left 1s ease;
}

.App-description {
  animation: slide-in-left 1s ease;
}

.Hero-button {
  animation: slide-in-left 1s ease;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}



@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}





/* Add gradient to "made easy" part of text */
.gradient-text {
  background: linear-gradient(to right, #002aff, rgb(166, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  text-align: left;
  
}

.cards-header {
  background: linear-gradient(to right, #002aff, rgb(166, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}


.App-header {
  background-color: #00519c00;
  color: lightblue;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
}

.Header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
  
}

.Header-logo {
  max-height: 100px;
  margin-left: 5%;
}

.Header-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.Header-list li {
  margin-right: 20px;
  color: #002aff;
}

.Header-list li:last-child {
  margin-right: 0;
}

.Header-list a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.Header-list a:hover {
  color: #aecff4;
}

.Main-text {
  font-size: 48px;
  font-weight: bold;
  margin: 50px 0;
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.Hero-image {
  width: 80%;
  max-width: 500px;
  margin-bottom: 50px;
}

.Hero-button {
  background-color: #770071a1;
  color: #fff;
  border: none;
  padding: 20px 30px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.Hero-button2 {
  background-color: #04aac0a1;
  color: #fff;
  border: none;
  padding: 20px 30px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 30px;
  
}

.Hero-button2:hover {
  background-color: #003366;
}

.Hero-button:hover {
  background-color: #003366;
}

.cards-header {
  font-size: 3rem;
}
.section-header {
  color:rgb(47, 0, 255);
}

.section-text {
  color: black;
  text-align: left;
}


body {
  background: white;
}

.Header-logo {
  width: 110px;
  height: auto;
  margin-top:20px;
  margin-left: 8%;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-header {
  padding: 2rem;
  max-width: 50%;
}

.section-text {
  flex: 1;
  padding: 2rem;
  max-width: 70%;
}

.section-image-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-image {
  
  width: 90%;
  height: auto;
  border-radius: 5px;
  margin:
}

@media screen and (max-width: 768px) {
  .info {
    flex-direction: column;
  }

  .section-text,
  .section-image-div {
    flex: none;
    width: 100%;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .Hero {
    margin: 20px 0;
  }

  .Hero-image {
    width: 100%;
    max-width: 300px;
  }

  .Main-text {
    font-size: 36px;
  }

  .Header-list a {
    font-size: 16px;
  }




  
  
}
